{% extends "blog/base.html" %}


{% block content %}
  <div class="jumbotron">
    <h2>Please Login:</h2>
    <h3>Must be Superuser, please check with admin site</h3>

    {% if form.errors %}
      <p>Username and Password do not match! Please try again.</p>
    {% endif %}

    <form class="" action="{% url 'login' %}" method="post">
      {% csrf_token %}
      {{ form.as_p }}
        <input type="submit" class="btn btn-primary" value="Login">
        <input type="hidden" name="next" class="btn btn-primary" value="{{next}}">
    </form>
  </div>
{% endblock %}
